<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  syntaxCheck="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <filter>
    <whitelist>
      <directory suffix=".php">../src/mg/Ding</directory>
      <exclude>
        <directory suffix=".php">../src/mg/Ding/Helpers/PAGI</directory>
        <directory suffix=".php">../src/mg/Ding/Helpers/PAMI</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="IoC XML">
      <directory suffix=".php">ioc/xml</directory>
    </testsuite>
    <testsuite name="IoC YAML">
      <directory suffix=".php">ioc/yaml</directory>
    </testsuite>
    <testsuite name="IoC Annotation">
      <directory suffix=".php">ioc/annotation</directory>
    </testsuite>
  </testsuites>
</phpunit>
