<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  syntaxCheck="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
>
  <filter>
    <whitelist>
      <directory suffix=".php">../src/mg/Ding</directory>
      <exclude>
        <directory suffix=".php">../src/mg/Ding/Helpers/PAGI</directory>
        <directory suffix=".php">../src/mg/Ding/Helpers/PAMI</directory>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="IoC XML">
      <directory suffix=".php">ioc/xml</directory>
    </testsuite>
    <testsuite name="IoC YAML">
      <directory suffix=".php">ioc/yaml</directory>
    </testsuite>
    <testsuite name="IoC Annotation">
      <directory suffix=".php">ioc/annotation</directory>
    </testsuite>
    <testsuite name="AOP XML">
      <directory suffix=".php">aop/xml</directory>
    </testsuite>
    <testsuite name="AOP YAML">
      <directory suffix=".php">aop/yaml</directory>
    </testsuite>
    <testsuite name="AOP Annotation">
      <directory suffix=".php">aop/annotation</directory>
    </testsuite>
    <testsuite name="Filter XML">
      <directory suffix=".php">filter/xml</directory>
    </testsuite>
    <testsuite name="Dummy Logger">
      <directory suffix=".php">logger</directory>
    </testsuite>
    <testsuite name="Driver Timezone">
      <directory suffix=".php">timezone</directory>
    </testsuite>
    <testsuite name="Driver SignalHandler">
      <directory suffix=".php">signal</directory>
    </testsuite>
    <testsuite name="Driver ShutdownHandler">
      <directory suffix=".php">shutdown</directory>
    </testsuite>
    <testsuite name="Driver ErrorHandler">
      <directory suffix=".php">error</directory>
    </testsuite>
    <testsuite name="Aware">
      <directory suffix=".php">aware</directory>
    </testsuite>
  </testsuites>
</phpunit>
