<?xml version="1.0" encoding="UTF-8"?>
<beans>
   <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper" scope="singleton">
       <property name="locations">
         <array>
           <entry key="0"><value>resource://includepath://file.properties</value></entry>
         </array>
       </property>
   </bean>
	<bean id="Server" class="Ding\Helpers\Tcp\TcpServerHelper" scope="singleton">
		<property name="backlog">
			<value>${tcp.backlog}</value>
		</property>
		<property name="readTimeout">
			<value>${tcp.rto}</value>
		</property>
		<property name="readMinLength">
			<value>${tcp.rlen}</value>
		</property>
		<property name="address">
			<value>${tcp.address}</value>
		</property>
		<property name="port">
			<value>${tcp.port}</value>
		</property>
		<property name="handler">
			<ref bean="MyServerHandler"/>
		</property>
		<property name="reuse"><true/></property> <!-- Optional. You can set it to true, false, or dont set it at all. false by default. -->
	</bean>
	<bean id="MyServerHandler" class="MyServerHandler" scope="singleton"/>
</beans>
