<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <bean id="ShutdownHandler" class="Ding\Helpers\ShutdownHandler\ShutdownHandlerHelper" scope="singleton">
    <property name="shutdownHandler"><ref bean="myShutdownHandler"/></property>
  </bean>
  <bean id="myShutdownHandler" class="MyShutdownHandler" scope="singleton"/>
</beans>
