<beans>

	<bean id="ComponentB" class="ClassB" scope="singleton">
		<property name="aProperty">
			<value>Some string A</value>
		</property>
		<property name="bProperty">
			<value>Some string B</value>
		</property>
	</bean>

	<bean id="ComponentA" class="ClassA" scope="singleton">
		<property name="aComponent">
			<ref bean="ComponentB"/>
		</property>
		<aspect ref="AspectA" type="before">
			<pointcut expression="targetMethod" advice="anAdvice"/>
		</aspect>
		<!-- 
		<aspect ref="AspectA" type="after">
			<pointcut expression="targetMethod" advice="anAdvice"/>
		</aspect>
		<aspect ref="AspectA" type="afterThrowing">
			<pointcut expression="targetMethod" advice="anAdvice"/>
		</aspect>
		<aspect ref="AspectA" type="afterFinally">
			<pointcut expression="targetMethod" advice="anAdvice"/>
		</aspect>
		<aspect ref="AspectA" type="around">
			<pointcut expression="targetMethod" advice="anAdvice"/>
		</aspect>
		-->
	</bean>
	
	<bean id="AspectA" class="AspectA" scope="singleton">
	</bean>
</beans>
