<beans>
	<bean id="ComponentB" class="ClassB" scope="singleton" init-method="init">
		<constructor-arg>
			<value>Some string A, like: ${log.dir}/${log.file} as user ${user.name}</value>
		</constructor-arg>
        <constructor-arg>
            <ref bean="ComponentC"/>
        </constructor-arg>
		<property name="aProperty">
			<value>Some string A, like: ${log.dir}/${log.file} as user ${user.name}</value>
		</property>
		<property name="bProperty">
			<value>Some string B</value>
		</property>
		<aspect ref="AspectE" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectD" type="exception">
			<pointcut expression="targetMethod"/>
		</aspect>
	</bean>

	<bean id="ComponentA" class="ClassA" scope="singleton">
        <constructor-arg>
        	<array>
        		<entry key="100"><ref bean="ComponentC"/></entry>
        		<entry key="astring"><value>${user.name}</value></entry>
        		<entry key="astring2">
        			<array>
        				<entry key="100"><ref bean="ComponentC"/></entry>
        				<entry key="astring"><value>${user.name}</value></entry>
        			</array>
        		</entry>
        	</array>
        </constructor-arg>
		<property name="aProperty">
		  <array>
    		<entry key="100"><ref bean="ComponentC"/></entry>
       		<entry key="astring"><value>123</value></entry>
          </array>
		</property>
		<property name="aComponent">
			<ref bean="ComponentB"/>
		</property>
		<aspect ref="AspectA" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectB" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectC" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
	</bean>
	
	<bean id="ComponentC" class="ClassC" scope="singleton"/>
	<bean id="AspectA" class="AspectA" scope="singleton"/>
	<bean id="AspectB" class="AspectB" scope="singleton"/>
	<bean id="AspectC" class="AspectC" scope="singleton"/>
	<bean id="AspectD" class="AspectD" scope="singleton">
		<property name="aComponent">
			<ref bean="ComponentX"/>
		</property>
		<aspect ref="AspectC" type="method">
			<pointcut expression="setAComponent"/>
		</aspect>
	</bean>
	<bean id="AspectE" class="AspectE" scope="singleton"/>

	<bean id="ComponentX" class="ClassX" scope="singleton" factory-bean="ComponentZ" factory-method="getInstance">
		<constructor-arg>
			<value>"001"</value>
		</constructor-arg>
        <constructor-arg>
            <ref bean="ComponentC"/>
        </constructor-arg>
	</bean>
	<bean id="ComponentY" class="ClassY" scope="singleton" factory-method="getInstance">
		<constructor-arg>
			<value>"001"</value>
		</constructor-arg>
        <constructor-arg>
            <ref bean="ComponentC"/>
        </constructor-arg>
	</bean>
	<bean id="ComponentZ" class="ClassZ" scope="singleton"/>
</beans>
