<beans>
	<import resource="aspects.xml"/>
	<bean id="ComponentB" class="ClassB" scope="singleton" init-method="init" destroy-method="shutdown" depends-on="ComponentZ,ComponentY,ComponentX">
		<constructor-arg>
			<value>Some string A, like: ${log.dir}/${log.file} as user ${user.name}</value>
		</constructor-arg>
        <constructor-arg>
            <ref bean="ComponentC"/>
        </constructor-arg>
		<property name="aProperty">
			<value>Some string A, like: ${log.dir}/${log.file} as user ${user.name}</value>
		</property>
		<property name="bProperty">
			<value>Some string B</value>
		</property>
		<aspect ref="AspectE" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectD" type="exception">
			<pointcut expression="targetMethod"/>
		</aspect>
	</bean>

	<bean id="ComponentA" class="ClassA" scope="singleton">
        <constructor-arg>
        	<array>
        		<entry key="100"><ref bean="ComponentC"/></entry>
        		<entry key="astring"><value>${user.name}</value></entry>
        		<entry key="astring2">
        			<array>
        				<entry key="100"><ref bean="ComponentC"/></entry>
        				<entry key="astring"><value>${user.name}</value></entry>
        				<entry key="astring2"><eval><![CDATA[ return "Some evaluated code"; ]]></eval></entry>        				
	       				<entry key="astring3"><eval><![CDATA[ return new ClassZ(); ]]></eval></entry>        				
        			</array>
        		</entry>
        	</array>
        </constructor-arg>
		<property name="aProperty">
		  <array>
    		<entry key="100"><ref bean="ComponentC"/></entry>
       		<entry key="astring"><value>123</value></entry>
       		<entry key="astring2">
       			<array>
       				<entry key="100"><ref bean="ComponentC"/></entry>
       				<entry key="astring"><value>${user.name}</value></entry>
       				<entry key="astring2"><eval><![CDATA[ return "Some evaluated code"; ]]></eval></entry>        				
       			</array>
       		</entry>
          </array>
		</property>
		<property name="aComponent">
			<ref bean="ComponentB"/>
		</property>
		<aspect ref="AspectA" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectB" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
		<aspect ref="AspectC" type="method">
			<pointcut expression="targetMethod"/>
		</aspect>
	</bean>
	<!--  This is an optional bean, you can comment it out if you want -->
	<bean id="ErrorHandler" class="Ding\Helpers\ErrorHandler\ErrorHandlerHelper" scope="singleton">
		<property name="errorHandler">
			<ref bean="MyErrorHandler"/>
		</property>
	</bean>
	
	<bean id="MyErrorHandler" class="MyErrorHandler" scope="singleton"/>
</beans>
