<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <bean id="myBeanName" class="MyBean" scope="singleton">
    <constructor-arg>
      <bean class="MyOtherInnerBean" scope="prototype"/>
    </constructor-arg>
    <property name="somePropertyInnerBean"><bean class="MyInnerBean" scope="prototype"/></property>
  </bean>
</beans>
