<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="ComponentA" class="ComponentA" scope="singleton">
		<aspect ref="AspectA" type="method">
			<pointcut expression="^get.$"/>
		</aspect>
		<aspect ref="AspectB" type="exception">
			<pointcut expression="^get.$"/>
		</aspect>
	</bean>
	<bean id="AspectA" class="AspectA" scope="singleton"/>
	<bean id="AspectB" class="AspectB" scope="singleton"/>
</beans>
