<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="repository-locator" class="\Doctrine\ORM\EntityManager"
		factory-method="create" scope="singleton">
		<constructor-arg>
			<array>
        			<entry key="driver"><value>${doctrine.db.driver}</value></entry>
        			<entry key="path"><value>${doctrine.db.path}</value></entry>
			</array>
		</constructor-arg>
		<constructor-arg>
			<ref bean="doctrine-config"/>
		</constructor-arg>
	</bean>
	<bean id="doctrine-cache" class="\Doctrine\Common\Cache\ArrayCache" scope="singleton" />
	<!-- This hack is needed to avoid repeating code in
	 	\Doctrine\ORM\Configuration::newDefaultAnnotationDriver()
	-->
	<bean id="doctrine-config-dummy" class="\Doctrine\ORM\Configuration" scope="singleton" />
	<bean id="doctrine-orm-driver"
		factory-bean="doctrine-config-dummy" factory-method="newDefaultAnnotationDriver"
		scope="singleton">
		<constructor-arg>
			<value>${doctrine.entity.path}</value>
		</constructor-arg>
	</bean>
	<bean id="doctrine-config" class="\Doctrine\ORM\Configuration" scope="singleton">
		<property name="metaDataCacheImpl">
			<ref bean="doctrine-cache"/>
		</property>
		<property name="metadataDriverImpl">
			<ref bean="doctrine-orm-driver"/>
		</property>
		<property name="queryCacheImpl">
			<ref bean="doctrine-cache"/>
		</property>
		<property name="proxyDir">
			<value>${doctrine.proxy.dir}</value>
		</property>
		<property name="proxyNamespace">
			<value>${doctrine.proxy.namespace}</value>
		</property>
		<property name="autoGenerateProxyClasses">
			<value>${doctrine.proxy.autogenerate}</value>
		</property>
	</bean>
</beans>
