<?xml version="1.0" encoding="UTF-8"?>
<beans>
   <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper" scope="singleton">
       <property name="locations">
         <array>
           <entry key="0"><value>resource://includepath://file.properties</value></entry>
         </array>
       </property>
    </bean>
    <bean id="aBean" class="MyBeanClass" scope="singleton">
        <property name="aResource"><value>resource://${anUrl}</value></property>
    </bean>
</beans>
