<?xml version="1.0" encoding="UTF-8"?>
<beans>
   <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper" scope="singleton">
       <property name="locations">
         <array>
           <entry key="0"><value>file://file.properties</value></entry>
         </array>
       </property>
   </bean>
</beans>
