<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <bean id="PropertiesHolder" class="Ding\Helpers\Properties\PropertiesHelper" scope="singleton">
    <property name="locations">
      <array>
        <entry key="0"><value>resource://includepath://file.properties</value></entry>
      </array>
    </property>
  </bean>
	<bean id="PagiExtensionMapper" class="Ding\Helpers\Pagi\PagiExtensionMapper" scope="singleton">
		<property name="map">
        	<array>
        		<entry key="0">
	        		<array>
	        			<entry key="extension"><value>${app1.num}</value></entry>
	        			<entry key="application"><ref bean="MyPagiApplication1"/></entry>
	        		</array>
        		</entry>
        		<entry key="1">
	        		<array>
	        			<entry key="extension"><value>${app2.num}</value></entry>
	        			<entry key="application"><ref bean="MyPagiApplication2"/></entry>
	        		</array>
        		</entry>
        		<entry key="default">
	        		<array>
	        			<entry key="application"><ref bean="MyPagiApplication3"/></entry>
	        		</array>
        		</entry>
        	</array>
		</property>
		<bean id="MyPagiApplication1" class="MyPagiApplication1" scope="singleton">
			<constructor-arg>
				<array>
					<entry key="log4php.properties">
						<value>${log4php.properties}</value>
					</entry>
				</array>
			</constructor-arg>
		</bean>
		<bean id="MyPagiApplication2" class="MyPagiApplication2" scope="singleton">
			<constructor-arg>
				<array>
					<entry key="log4php.properties">
						<value>${log4php.properties}</value>
					</entry>
				</array>
			</constructor-arg>
		</bean>
		<bean id="MyPagiApplication3" class="MyPagiApplication3" scope="singleton">
			<constructor-arg>
				<array>
					<entry key="log4php.properties">
						<value>${log4php.properties}</value>
					</entry>
				</array>
			</constructor-arg>
		</bean>
	</bean>
</beans>
